@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

/* font-family: "Noto Sans JP", sans-serif; */
/* font-family: "Noto Serif JP", serif; */

:root{
  --text:#0D2B5E;
  --back1:#fff;
  --back2:#E9F6FF;
  --navy:#1A3F7A;
  --orange:#FFA384;
}

body {
  margin: 0;
  padding-top: 80px;
  background-color: var(--back1);
  color: var(--text);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1{
font-size: 40px;
font-weight: bold;
font-family: "Noto Serif JP", serif;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

.more {
  text-align: center;
  margin-top: 60px;
}

.more a {
  display: inline-block;
  width: 220px;
  padding: 16px 0;

  background-color: var(--navy);
  color: #fff;
  border: 2px solid var(--navy);

  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.more a:hover {
  background-color: #fff;
  color: var(--navy);
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  background: #fff;
  z-index: 1000;
}

#logo {
  margin-right: auto;
}

#logo img {
  height: 80px;
  width: auto;
  display: block;
}

#global-nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#global-nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

#global-nav a:hover {
  color: var(--orange);
}

/* #global-nav a:visited {
  color: var(--text);
} */

.reserve img{
  width: 180px;
  padding-left: 40px;
  height:auto;
  display:block;
}

/* メインビジュアル */
.hero {
  width: 100%;
}

.hero img {
  display: block;
  width: 100%;
  height: 800px;
  object-fit: cover;
}

/* ブログ */
.blog {
  padding: 80px 0;
}

.blog-wrapper {
  display: flex;
  gap: 80px;
}

.news,
.tips {
  flex: 1;
}

.news h2,
.tips h2 {
  font-size: 48px;
  font-family: "Noto Serif JP", serif;
  color: var(--text);
  margin-bottom: 40px;
}

.news-post {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.date {
  font-size: 20px;
  color: #999;
  margin-bottom: 10px;
}

.news-post a {
  display: block;
  color: var(--text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  transition: color 0.3s;
}

.news-post a:hover {
  color: var(--orange);
}
